[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.1"
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"
drf-extra-fields = "*"
stripe = "*"
python-dotenv = "*"
paho-mqtt = "*"
beautifulsoup4 = "*"
google-api-python-client = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.11"
