.change-password-container {
  background-color: #ffffff;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 4px;
  padding-left: 4%;
  padding-top: 4%;
}

.password-cotainer {
  margin-bottom: 4%;
  margin-left: 2%;
}

.label {
  color: rgb(121, 121, 121);
  display: block;
  font-size: large;
  margin-bottom: 2%;
}

.input {
  border: 1px solid rgb(194, 193, 193);
  border-radius: 4px;
  width: 95%;
  height: 50px;
}
