:root {
    font-family: 'Poppins', sans-serif !important;
  }
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
.sidebar{
    color:#fff;
}
.WiserLogo{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width:auto; 
    height: auto;
}
.ant-layout-sider-children{
    background:#002603;
}

.menu-bar{
    font-family: 'Poppins', sans-serif !important;
    background:#002603;
    
    height: 88vh;
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    gap:20px;
    font-size:1rem;
    position: relative;
}
.ant-menu-item-selected{
    
    background: rgba(255, 255, 255, 0.04) !important;
    color:#f9f9f9 !important;
    
}
.ant-menu-item-active{
    
    background: rgba(255, 255, 255, 0.04) !important;
    color:#f9f9f9 !important;
    
}
.Fold {
  background:rgb(255, 255, 255);
  color:#002603 !important;
  border-radius: 4px;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-text:not(:disabled):not(.ant-btn-disabled){
  color: #888888;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover{
  color: #002603;
}

