@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
* {
  font-family: 'Poppins', sans-serif !important;
}
.sidebar{
    color:#fff;
}
.WiserLogo{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width:auto; 
    height: auto;
}
.ant-layout-sider-children{
    background:#002603 !important;
    
}

.menu-bar{
    font-family: 'Poppins', sans-serif !important;
    background:#002603; 
    height: 88vh;
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    gap:20px;
    font-size:1rem;
    position: relative;
    border-radius: 25px;
}
.ant-menu-item{
  color:#888888 !important;
}
.ant-menu-item-selected{
    background: rgba(255, 255, 255, 0.04) !important;
    color:#f9f9f9 !important;
    
}
.ant-menu-item-active{
    background: rgba(255, 255, 255, 0.04) !important;
    color:#ffffff !important;
    
}


.Fold {
  background:rgb(255, 255, 255);
  color:#002603 !important;
  border-radius: 4px;
  padding:1rem;
  display:flex;
  gap:.5rem;
  justify-content:space-between;
  
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-text:not(:disabled):not(.ant-btn-disabled){
  
  color: #002603 !important;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover{
  color: #002603;
}
.DashboardContent{
  flex:1;
  margin-top: 1.5rem;
  border-radius:20px;
  padding:1.5rem;
  display:flex;
  justify-content:space-between;
}
.DashboardContent2{
  
    margin-bottom: 65px;
    flex: 1;
    margin-top: 1.5rem;
    border-radius: 20px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;

}
.ant-layout{
  background: #ffffff;
}
.Search-box{
  background:#dde6ed;
  padding:8px 10px;
  border-radius: 15px;
  display:flex;
  align-items: center; 
}
.HeaderTitle{
  font-weight: bolder;
  font-size: 2rem;
  color:#002603;
}
.css-ctcgil-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px !important;
  overflow: hidden;
  padding: 5px !important;
  box-shadow: none !important; 
  margin-left: 1%;

}
.css-8po0d6-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100%;
  border-radius: 35px !important;
  padding-left: 100px;
  max-width: 1000px !important;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-spin-nested-loading .ant-spin-container {
  padding: 25px;
  position: relative;
  transition: opacity 0.3s;
  bottom: 0;
  right: 0;
  top: 100%;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  font-size: 12px;
}
.AddButton{
  color: #fff;
  background: #002603 !important;
  height:auto;
  width:100px;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;

}
.AddButton2{
  color: #fff;
  background: #002603 !important;
  height:auto;
  width:100px;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 50px;

}
.Profile{
  height:auto;
  margin: 0px 20px;
  padding:0rem 1rem;
  display:flex;
  cursor: pointer;
}
.Notification, .Search{
  color:#002603;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.Notification:hover{
  color:#888888;  
}
.Search:hover{
  color:#888888;  
}
.ProfileDropDown{
  padding:100px;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content >a, :where(.css-dev-only-do-not-override-1xg9z9n).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-title-content >a {
  
  margin: 2px;
  margin-right: 4rem;
  display:flex !important;
  align-items: left;
  font-size: 1rem;

}

/* Schedule  */


.page-container {
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}

.tbody table {
  width: 100%;
}

body {
  font-family: 'Poppins', 'Karla', sans-serif;
}

h2 {
  font-weight: 600;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-inner {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: none;
  padding: 20px;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.table-rounded {
  border-collapse: separate;
  border-spacing: 0;
  border: 0.5px solid #dee2e6;
  border-radius: 10px;
  overflow: hidden;
}

.table-rounded td {
  padding: 10px;
  table-layout: fixed;
}

.table-rounded tr:nth-child(even) td {
  background-color: #eeeeee;
}

.table-rounded tr:nth-child(odd) td {
  background-color: #f7f6f9;
}

.thead-green th {
  table-layout: fixed;
  font-weight: 600;
  color: #ffffff;
  background-color: #617f62;
}

td {
  text-transform: lowercase;
}

td:first-letter {
  text-transform: capitalize;
}

.activate-btn {
  background-color: #2b572e;
  color: white;
  border-radius: 10px;
}
.activate-btn:hover {
  background-color: #1f3d20;
  color: white;
  border-radius: 10px;
}
.deactivate-btn {
  background-color: #666666;
  color: white;
  border-radius: 10px;
}
.deactivate-btn:hover {
  background-color: #4d4d4d;
  color: white;
  border-radius: 10px;
}

.dark-green-link {
  color: #012a05;
}

.badge-active {
  background-color: #2b572e;
  color: white;
}

.badge-inactive {
  background-color: #666666;
  color: white;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-modal-root .ant-modal-mask {
  background-color: #00000017;
  
  
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-modal .ant-modal-content {
  
  border-radius: 10px;
  box-shadow: none;
  padding: 35px 24px;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-modal .ant-modal-header {
  font-family: 'Poppins', sans-serif !important;
  font-size: 2rem !important;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 20px;
  
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-modal .ant-modal-footer >.ant-btn+.ant-btn {
  font-family: 'Poppins', sans-serif !important;
  background: #002603;
}
.input_group {
  margin-left: 20px;
  border: 2px solid #bce3c9;
  border-radius: 50px;
  max-width: 700px;
  background-color: #fff;
  width: 100%;
}
.divider {
  position: relative;
}
.divider::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  color: #bce3c9;
  background-color: #023c07;
}
#logoSearch {
  display: inline-flex;
  margin-right: 10px;
}
.SubTitle{
  margin-left:25px;
}
.SubTitle2{
  margin-left:25px;
  color:#848282;
  margin-top: 20px;
  font-weight: 300;
}
/* :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-calendar {
  background: #ffffff;
  padding: 30px 30px;
  position: relative;
  transition: opacity 0.3s;
  bottom: 0;
  right: 0;
  top: 0%;
 

}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-calendar .ant-picker-calendar-header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-bottom: 30px;
} */

:where(.css-dev-only-do-not-override-1xg9z9n).ant-form-item .ant-form-item-label >label {
  max-width: 100%;
  
  font-size: 21px;
  
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker {
  width: 60vh;
  padding: 10px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 20px;
  line-height: 1;
  list-style: none;
  font-family: 'Poppins', 'Karla', sans-serif;;
  
  border-radius: 10px;
  
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker .ant-picker-input >input:placeholder-shown {
  font-size: 16px;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-select-filled:not(.ant-select-customize-input) .ant-select-selector {
  width: 60vh;
  padding: 22px;
}








 
