@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
* {
  font-family: 'Poppins', sans-serif !important;
}
.sidebar{
    color:#fff;
}
.WiserLogo{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width:auto; 
    height: auto;
}
.ant-layout-sider-children{
    background:#002603;
}

.menu-bar{
    font-family: 'Poppins', sans-serif !important;
    background:#002603; 
    height: 88vh;
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    gap:20px;
    font-size:1rem;
    position: relative;
    border-radius: 25px;
}
.ant-menu-item-selected{
    
    background: rgba(255, 255, 255, 0.04) !important;
    color:#f9f9f9 !important;
    
}
.ant-menu-item-active{
    
    background: rgba(255, 255, 255, 0.04) !important;
    color:#ffffff !important;
    
}
.Fold {
  background:rgb(255, 255, 255);
  color:#002603 !important;
  border-radius: 4px;
  padding:1rem;
  display:flex;
  gap:.5rem;
  justify-content:space-between;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-text:not(:disabled):not(.ant-btn-disabled){
  color: #888888;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover{
  color: #002603;
}
.DashboardContent{
  flex:1;
  border-radius:20px;
  padding:1.5rem;
  display:flex;
  justify-content:space-between;
}
.ant-layout{
  background: #ffffff;
}
.Search-box{
  background:#dde6ed;
  padding:8px 10px;
  border-radius: 15px;
  display:flex;
  align-items: center; 
}
.HeaderTitle{
  font-weight: bolder;
  font-size: 2rem;
  color:#002603;
}
.css-ctcgil-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 10px !important;
  overflow: hidden;
  padding: 5px !important;
  box-shadow: none !important; 
  margin-left: 1%;

}
.css-8po0d6-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100%;
  border-radius: 35px !important;
  padding-left: 100px;
  max-width: 1000px !important;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-spin-nested-loading .ant-spin-container {
  padding: 25px;
  position: relative;
  transition: opacity 0.3s;
  bottom: 0;
  right: 0;
  top: 100%;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  
  font-size: 12px;
}

