.name-container {
  background-color: #ffffff;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 4px;
  margin-bottom: 4%;
}

.company-info {
  display: block;
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 5%;
}

#f-label {
  color: rgb(121, 121, 121);
  font-size: medium;
  margin-top: 3%;
}

#s-label {
  font-size: larger;
}

.bt2-container {
  text-align: right;
}

.bt2 {
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 5%;
  background-color: #023c07;
}

#input2 {
  border: 1px solid rgb(194, 193, 193);
  border-radius: 4px;
  width: 90%;
  height: 45px;
  margin-top: 1.5%;
}
